@{
    ViewData["Title"] = "Moje Pošiljke";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Koda za sledenje</th>
            <th scope="col">Velikost</th>
            <th scope="col">Teža</th>
            <th scope="col">Naslov</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">001</th>
            <td><a asp-area="" asp-controller="Home" asp-action="Posiljka">YT72760621444007800</a></td>
            <td>2.13 x 34.1 x 14.0</td>
            <td>15.0</td>
            <td>Škerjančeva ul. 13, 1000 LJ</td>
        </tr>
        <tr>
            <th scope="row">002</th>
            <td><a href="">ZA247945542HK23445</a></td>
            <td>1.10 x 10.1 x 17.0</td>
            <td>10.5</td>
            <td>Ljubljanska cesta 1, 1000 LJ</td>
        </tr>
        <tr>
            <th scope="row">003</th>
            <td><a href="">RY505557973CN9345D</a></td>
            <td>7.23 x 5.23 x 54.0</td>
            <td>2.5</td>
            <td>Ljubljanska cesta 1, 1000 LJ</td>
        </tr>
        <tr>
            <th scope="row">004</th>
            <td><a href="">K305259752D9W41EE3</a></td>
            <td>55.0 x 30.0 x 11.0</td>
            <td>1.1</td>
            <td>Novakova ul. 63, 4000 KR</td>
        </tr>
    </tbody>
</table>
