@{
    ViewData["Title"] = "Pošiljka";
}
<!-- Main content -->
<div class="container mt-5">
    <span class="h4">Pošiljka: </span>
    <span class="h4 fw-bold">YT72760621444007800</span>
</div>
<div class="container mt-3">
    <ul class="fs-4">
        <li>Obdelava naročila <span id="checkmark1">✓</span></li>
        <li>V tranzitu <span id="checkmark2">✓</span></li>
        <li>Dostava v paketni center <span id="checkmark3">✓</span></li>
        <li>V tranzitu do končnega cilja <span id="checkmark4">✓</span></li>
        <li>Vročitev paketa <span id="checkmark5">✓</span></li>

    </ul>
</div>
